table.table {
	text-align:center;
	background-color:black;
	border-collapse:collapse;
}

table.table td, 
table.table th {
	border: 1px solid #686C6E;
	

}
table.table tr:hover {
	background-color: #C8CDCF;

}



