<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<title>{{ TWITCHCHANNEL }} Viewer Interaction</title>
</head>
<body>
<table class="table table-dark">
<thead>
  <tr>
    <th scope="col">Viewer</th>
    <th scope="col">View Count</th>
		<th scope="col">Last Login</th>
  </tr>
</thead>
<tbody>
{% for viewer in leaderboard %}
	<tr>
		{% if viewer[0] in currentviewers %}
			<td>{{viewer[0]}} &#x1f441;</td>
		{% else %}
			<td>{{viewer[0]}}</td>
		{% endif %} 
		<td>{{viewer[1]}}</td>
		<td>{{viewer[2]}}</td>
	</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
